@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700&display=swap&subset=cyrillic-ext');

.main_block
{
    margin: 0 auto;
    width: 900px;
}

.top_block
{
    margin: 100px 0 0 0;
}

.quote_block
{
    background-image: url(../image/quotes.png);
    width: 510px;
    margin: 50px 0 0 60px;
    float: right;
}

.quote
{
    height: 87px;
    margin: 70px 0 0 60px;
    font: italic 28px/42px georgia;
    color: #848484;
}

.signature
{
    margin: 10px 0 0 62px;
    font: normal 600 16px/42px "Open Sans";
    color: #333;
}

.information
{
    width: 960px;
}
.favorits
{
    margin: 0;	
    font-family: semibold 24px "Open Sans";
    width: 330px;
    float: left;
}

.user_list_writers
{
    margin: 43px 0 0 0;
    color: #15a98c;
    font: 600 24px/33px "Open Sans";
}

.user_list_films
{
    margin: 43px 0 0 0;
    color: #15a98c;
    font: 600 24px/32px "Open Sans";
}

.user_list
{
    margin: 10px 0 0 0;
    color: #555;
    font: 19px/36px Georgia;
    list-style-position: inside;
    padding: 0;	
}

.text_block
{
    margin: 0 0 0 60px;
    width: 570px;
    float: right;
}

.name
{
    margin: 39px 0 0 4px; 
    font: bold 48px/1 "Open Sans";
    color: #333;
}

.dash
{
    margin: 27px 0 0 0;
}

.paragraph
{
    margin: 40px 0 0 0;
    color: #555;
    font: 19px/32px Georgia;
}

.hobby
{
    margin: 43px 0 0 0;
    font: 400 36px/42px "Open Sans";
    letter-spacing: -1px;
    color: #333;	
}

.text_hobby
{
    margin: 14px 0 0 0;
    font: 19px/32px "Georgia";
    color: #555;
}

.ref::after
{
    font: 20px "Georgia";
    content: "→";
    color: #15a98b;
    position: absolute;
    top: 5px;
    left: 121px;
}
	
.ref
{	
    display: block;
    margin: 43px 0 0 0;
    font: 19px/32px "Georgia";
    color: #15a98b;
    position: relative;
}